.calculator-container {
    width: min-content;
    background-color: grey;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    grid-column: span 4;
    margin: 0px;
    padding: 20px 20px 20px 10px;
}

.screen > * {
    margin: 10px;
}

.screen > h3 {
    height: 10px;
}

.screen > h1 {
    height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
}

.btn-wide {
    grid-column: span 2;
}

.btn {
    text-align: center;
    background-color: lightsteelblue;
    padding: 25px;
}

.op {
    background-color: orange;
}

.btn-wide {
    background-color: salmon;
}